/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 1.7;
}

body {
	margin: 1em 15px;
}

a {
	color: #00f;
	text-decoration: underline;
}



/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* ==========================================================================
   STRUCTURE
   ========================================================================== */

.container {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.container {
		width: 738px; /* 768 - body's L and R margins */
		margin: 0 auto;
	}
}

.no-js .table-filter,
.no-js .loading {
	display: none;
}

/* ==========================================================================
   VISIT DETAIL
   ========================================================================== */

dt {
	font-weight: bold;
}
dd {
	margin-bottom: .5rem;
	margin-left: 0;
}
@media (min-width: 768px) {
	.dd:before,
	.dd:after {
		content: " ";
		display: table;
	}
	.dd:after {
		clear: both;
	}

	
	.dl-horizontal dt {
		float: left;
		width: 160px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 180px;
	}
}

/* ==========================================================================
   TABLE
   ========================================================================== */

table {
	width: 100%;
	max-width: 100%;
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
}

th,
td {
	padding: 0.3rem 0.6rem;
	line-height: 1.4em;
	vertical-align: top;
	border-top: 1px solid #eee;
}

thead th {
	text-align: left;
	vertical-align: bottom;
	border-bottom: 1px solid #eee;
}

.tHeader {
	cursor: pointer;
}

.td-date {
	white-space: nowrap;
	text-align: right;
}

tbody tr:nth-of-type(odd) {
	background-color: #f6f6f6;
}


/* Make the table horizontally-scrollable at narrow widths. */
.table-responsive {
	display: block;
	width: 100%;
	min-height: .01%;
	overflow-x: auto;
}
@media (max-width: 767px) {
    .js .table-responsive {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}


.table-pagination {
	text-align: center;
}
.pagination-pre-js-visits-table,
.pagination-next-js-visits-table {
	color: #00f;
	cursor: pointer;
	text-decoration: underline;
}
.no-pag {
	cursor: default;
	color: #000;
	text-decoration: none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

